:root {
  --black: rgb(33,33,33);
  --white: rgb(254, 254, 254);
  --chatMessageWhite: rgb(255, 255, 255);
  --chatMessageBlack: rgb(118, 118, 118);
  --chatMessageGrey: rgb(219, 219, 219);
  --chatMessageLightGrey: rgb(245, 244, 245);
  --chatMessagePadding: 15px;
  --chatMessageBorderLeft: 7px 7px 7px 0px;
  --chatMessageBorderRight: 7px 7px 0px 7px;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
}

p {
  line-height: 1.5;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  .main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    z-index: 0;
  }

  .main__blurEffect {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    z-index: 10;
    background: linear-gradient(rgba(254, 254, 254, 0.5), rgba(254, 254, 254, 0.9))
  }

  .main__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-width: 100%;
  }

  .main__content {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 20% 1fr;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    z-index: 0;
    margin: 10px;
    color: transparent;
    text-shadow: 0px 0px 12px rgba(0,0,0,0.8);
  }

  .boilerplate {
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: auto;
    grid-template-areas: "gutterLeft content gutterRight";
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: justify;
  }

  .boilerplate__paragraph, .boilerplate__header, .boilerplate__list {
    grid-area: content;
    grid-row: auto;
  }

  .boilerplate__paragraph {
    font-size: 1.3rem;
  }

  .boilerplate__listItem {
    font-size: 1.1rem;
  }

  .chatBotContainer {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 380px 1fr;
    grid-template-rows: 1fr 461px 56px;
    z-index: 20;
  }   

  .chatBot__main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 56px 1fr;
    grid-template-areas:  "header"
                          "chatWindow";
    background: var(--white);
    box-shadow: 0px 9px 13px var(--chatMessageGrey);
    z-index: 30;
  }

  /* Opener/closer for chat window */
  .--open {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }  

  .--closed {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

  }  

  .chatbot__header {
    display: grid;
    grid-template-columns: 1fr 42px;
    grid-template-rows: auto;
    grid-template-areas: "headerText toggler";
    grid-area: header;
    padding: 10px 20px;
    background: var(--black);
    color: var(--white);
  }

  .chatbot__headerText {
    grid-area: headerText;
    margin: 0;
    font-size: 1.5rem;
  }

  .chatbot__toggler {
    grid-area: toggler;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .chatbot__togglerIcon {
    margin: 0 auto;
  }

  .chatWindow {
    grid-area: chatWindow;
    margin: 20px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-auto-rows: max-content;
    grid-row-gap: 20px;
  }

  .chatWindow__companyMessage {
    grid-column: 1 / 3;
    grid-row: auto;
    color: var(--chatMessageBlack);
    background: var(--chatMessageLightGrey);
    border-radius: var(--chatMessageBorderLeft);
    font-size: 17px;
    line-height: 20px;
    padding: var(--chatMessagePadding);
  }

  .chatWindow__chatOptions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-column: 2 / 4;
    grid-row: auto;
  }

  .chatWindow__notNow {
    padding: var(--chatMessagePadding);
    color: var(--chatMessageBlack);
    background: var(--chatMessageGrey);
    border-radius: var(--chatMessageBorderRight);
  }

  .chatWindow__yesPlease {
    padding: var(--chatMessagePadding);
    color: var(--chatMessageWhite);
    background: rgb(102, 51, 204);
    border-radius: var(--chatMessageBorderRight);
  }

  .typingIndicator {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 20px 1fr;
    grid-column: 1 / 2;
    grid-row: auto;
    padding: 20px 10px 20px 10px;
    background: var(--chatMessageLightGrey);
    border-radius: var(--chatMessageBorderLeft);
  }
  .typingIndicator__ellipse {
    grid-column: auto;
    grid-row: 2 / 3;
    background: var(--chatMessageGrey);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 1s ease;
  }

  .--ellipseAnimate {
    opacity: 0;
  }
}
  
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  .main__content {
    grid-template-columns: 30% 1fr;
  }
  .boilerplate {
    grid-template-columns: 1fr 40% 1fr;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
  .main__content {
    grid-template-columns: 20% 1fr;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }